@model List<Comment>
@{
    ViewData["Title"] = "Comment";
}

@section Css{
    <link rel="stylesheet" href="sweetalert2.min.css">
}

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-end mb-2 mt-2">
            <a asp-controller="shop" asp-action="create" class="btn btn-success btn-icon-text">
                <i class="mdi mdi-upload btn-icon-prepend"></i>
                Create
            </a>
        </div>

        <div class="col-12">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            User Fullname
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Text
                        </th>
                        <th>
                            Created Date
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Settings
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Comment comment in Model)
                    {
                    <tr>
                        <td>@comment.Id</td>
                        <td>@comment.AppUser.FullName</td>
                        <td>@comment.Title</td>
                        @if (comment.Text == null)
                        {
                            <td></td>
                        }
                        else if (comment.Text.Length >= 30)
                        {
                            <td data-toggle="tooltip" data-placement="bottom" title="@comment.Text">@comment.Text.Substring(0, 100)....</td>
                        }
                        else
                        {
                            <td>@comment.Text</td>
                        }
                        <td>@comment.CreateDate.ToString("dd MMMM yyyy HH:mm")</td>
                        <td>@comment.IsAccess</td>
                        <td>
                            @if (comment.IsAccess)
                            {
                                <a asp-controller="shop" asp-action="CommentReject" asp-route-id="@comment.Id" class="btn btn-danger btn-icon-text">
                                    <i class="mdi mdi-alert btn-icon-prepend"></i>
                                    Reject
                                </a>
                            }
                            else
                            {
                                <a asp-controller="shop" asp-action="CommentAccept" asp-route-id="@comment.Id" class="btn btn-success btn-icon-text">
                                    <i class="mdi mdi-file-check btn-icon-append"></i>
                                    Accept
                                </a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="mt-4">
            <nav aria-label="...">
                <ul class="pagination d-flex justify-content-center">
                    @if (ViewBag.CurrentPage == 1)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-controller="shop" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="shop" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
                        </li>
                    }

                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")" style="@(ViewBag.CurrentPage == i ? "pointer-events: none;" : "")">
                            <a class="page-link" asp-controller="shop" asp-action="index" asp-route-page="@i">@i</a>
                        </li>
                    }

                    @if (ViewBag.CurrentPage == ViewBag.TotalPage)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-controller="shop" asp-action="index" asp-route-page="@(ViewBag.CurrentPage + 1)">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="shop" asp-action="index" asp-route-page="@(ViewBag.CurrentPage + 1)">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(".delete-item").click(function (e) {
            e.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var link = $(this).attr("href");
                    fetch(link).then(response => response.json()).then(data => {
                        if (data.status == 200) {
                            location.reload(true);
                        }
                        else {
                            Swal.fire(
                                'Not found!',
                                'Your file has been deleted.',
                                'Failed'
                            )
                        }
                    })
                }
            })
        })

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
}